<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div class="container">

	<div  th:text="${message}" class="alert alert-info" role="info" style="margin-top: 20px">
	</div>

	<!--  email: usuario@email.com senha: 1234 -->
	<form action="/login" method="post">
	<fieldset>
		<legend>Payfast Login</legend>
		
			<div class="form-group">
				<label for="email">Email:</label>
				<input class="form-control" type="text"  name="email" />
			</div>
		
			<div class="form-group">				
				<label for="senha">Senha:</label>
				<input  class="form-control" type="password" name="senha" />
			</div>

			<input class="btn btn-primary" type="submit" value="Logar" />				
	</fieldset>
	</form>
</div>
</body>
</html>